:root {
    /* change the values below to your colors from your palette */
    /*--primary-color: rgb(64,201,162); /*40C9A2;*/
    --primary-color: rgb(255, 255, 156); /*40C9A2;*/
    --secondary-color: rgb(185,230,255);/*#B9E6FF;*/
    --accent1-color: rgb(216,154,9);/*#D89A09;*/
    --accent2-color: rgb(156, 97, 164);/*9C61A4*/
    --border-color: rgb(186, 33, 166);/*#BF25AA;*/
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Playpen Sans", sans-serif;
    --paragraph-font: "Ruslan Display", cursive;
    --style-font: "Rubik Bubbles", sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: rgb(114, 72, 0);/*#000;  headlines on a white background */ 
    --headline-color-on-color: rgb(251,251,255);/*#FBFBFF; headlines on a colored background */ 
    --paragraph-color-on-white: rgb(32,32,32);/*#000; paragraph text on a white background */ 
    --paragraph-color-on-color: rgb(251,251,255);/*#FBFBFF; paragraph text on a colored background */ 
    --paragraph-background-color: rgb(3,25, 40);/*#031928;*/
    --nav-link-color: rgb(250, 240, 181);/*#E92610;*/
    --nav-background-color: rgb(9, 59, 47);/*#093b2f;*/
    --nav-hover-link-color: rgb(252,252,55);/*#fff;*/
    --nav-hover-background-color: rgb(58,85,70);/*#3A5546;*/
}

body{
    background-color: var(--primary-color) ;
    /*font-family: Arial, Helvetica, sans-serif*/
    font-family: var(--paragraph-font);
    margin: 5px;
    padding: 5px;
}

.banner{
    background-color: var(--accent2-color);
}
.banner_content{
    display: flex;
    padding: 16px;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
}

.banner_text {
    flex-grow: 1;
    line-height: 1.4;
}

.banner_close{
    background: none;
    border: none;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    background-color: var(--secondary-color);
    opacity: .9;
    font-size: x-small;
}

header img{
    max-width: 90%;
}

#toggleAlpha{
    position:absolute;
	top: 0;
	right: 0;
    padding: 15px;
    border: none;
    cursor: pointer;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
    margin-top: 5px;
}

.calltoaction a, .rentalinfo a{
    font-family: var(--paragraph-font);
    text-decoration: none;
    text-align: center;
    color: var(--paragraph-color-on-white);
}
/*footer p a:hover{
    text-decoration: underline;
}

footer a{
    color: orange;
}*/

footer img{
    max-width: 25px;
    height: auto;
}

footer div, footer p{
    text-align: center;
}

/*footer a:hover{
    color: yellow;
}*/

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-background-color);
    /*text-align: center;*/
}

nav a {
    padding: 5px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--style-font);
    text-align: center;
    font-size: large;
}

nav a.active{
    background-color: var(--accent2-color);
}

nav a:hover{
    background-color: var(--boder-color);
    color: var(--accent1-color);
    text-decoration: none;
}

/* code for hamburger menu*/
.navigation li{
    display: none; /*Hide the Menu by Default*/
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position:absolute;
	top: 0;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
/* end of code for hamburger menu*/

ul.navigation{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

.slideshow {
    max-width: 100%;
    height: auto;
    overflow:hidden;
}

.slideshow-images {
    display: flex;
    animation: slideshow 40s infinite;
}

.slideshow-images picture{
    display: block;
}

.slideshow-images img, .slideshow-images picture {
    flex: 0 0 100%;
    /*min-width: 100%;*/
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*-- start of table */
table {
    margin: 10px auto;
    border: thin solid var(--border-color);
    box-shadow: 0 0 10px var(--nav-background-color);
    border-collapse: collapse;
    font-family: var(--heading-font);
    font-size: small;
}

tr:first-child th{
	background-color: var(--nav-background-color);
	color: var(--nav-hover-link-color);
    padding: 15px;
}

thead tr th {
    color: var(--accent2-color);
}

th, td {
	padding: 7px 10px;
	border: 1px solid var(--nav-hover-background-color);
}

th {
	background-color: var(--nav-link-color);
	font-size: larger;
}

td {
	text-align: center;
    font-weight: bold;
}

tbody tr:nth-child(even) {
	background-color: var(--secondary-color);
}

tbody tr:nth-child(odd) {
	background-color: var(--accent2-color);
}
/*-- end of table --*/

/* -- FORMS --*/
form fieldset{
    margin: 2rem 0;
    border: 1px solid #cb29c9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: #cb29c9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form label.txbox{
    display: block;
    padding-top: 1rem;
    color: #13e89a;
    font-size: .8rem;
}

form label.top input, form label.txbox input{
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.txbox textarea{
    display: block;
    width: 96%;
    max-width: 50rem;
    height: 200px;
    resize: vertical;
    overflow-y: auto;
}

form input.submitBtn{
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 97%;
    max-width: 20rem;
    background-color: #b0b47c;
}

form label.top input:required{
    border-left: red solid 5px;
}

form label.top input:required:valid{
    border-left: green solid 5px;
}

@keyframes slideshow {
    0%, 12% {
        transform: translateX(0%);
    }
    22%, 34% {
        transform: translateX(-100%);
    }
    44%, 56% {
        transform: translateX(-200%);
    }
    68%, 80% {
        transform: translateX(-300%);
    }
    90%, 100% {
        transform: translateX(-400%);
    }
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0px;
    padding-top: 10px;
    line-height: 1.5ch;
    border: 1px solid #000;
}
.card, .forecast{
    align-items: center;
    text-align: center;
    padding: 15px;
}
.social-links img{
    min-width: 44px;
    padding: 5px;
}
.contactinfo{
    position: relative;
    top: 0;
    left: 0;
}
.googlemap {
    position: relative;
    padding: 5px;
    width: 100%;
    height: auto;
}
.googlemap iframe {
    width: 100%;
    height: 450px;
    border: 0;
}
