body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

div.banner {
	padding: 1rem;
	background-color: lightblue;
    text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    grid-template-columns: auto 25%;
	display: grid;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: span 2;
}

article p {
	text-align: justify;
}

.callout {
    grid-column: span 2;
	color: #eeddee;
	background-color: #552063;
    padding: 15px;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}