@media screen and  (min-width: 720px){
    body {
        font-family: Rowdies, Helvetica, sans-serif;
    }

    main, footer {
        max-width: 1550px;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #6eb4d0;
    }

    header{
        background-color: black;
        color: white;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    h2{
        grid-column: span 2;
    }

    nav{
        flex-direction: row;
        /*text-align: center;*/
    }

    #menu{
        display: none;
    }

    .hero{
        grid-column: span 2;
    }

    .herolabel p {
        font-size: 1.5rem;
    }

    .navigation {
		flex-direction: row;
	}

    .navigation li {
		display: block;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

    section{
        padding: 1rem;
        background-color: #fff;
    }
    .googlemap{
        grid-column: span 2;
      /*  max-width: 100%;
        max-height: auto;*/
    }
}